.productList {
     background-color: var(--product-list-background);
     height: fit-content; /* Full viewport height */
}

.listTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px; /* Space below the title */
    text-align: center; /* Center the title */
    color: var(--text-color-primary); /* Use the variable for text color */
}

.productGrid{
    background-color: var(--product-list-background); /* Use the variable for background color */
    display: flex;
    flex: row;
    flex-wrap: wrap;
    gap: 10px; 
    padding: 20px;
    height: fit-content;
}